<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blog</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="backimg">
                <img src="/images/IMG_0293.JPG">
            </div>
            <div class="logo">
                <span></span>
                <img src="/images/00002637.png">
            </div>
        </header>
    </body>
</html>